<h4><%= @artist.name %></h4>

<table>
  <tr>
    <th>Venue</th>
    <th>City</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @events.results.each do |event| %>
  <tr>
    <td><%= event.venue.display_name %></td>
    <td><%= event.location.city %></td>
    <td><%= event.start.to_formatted_s(:long_ordinal) %></td>
    <td><%= link_to "Get Tickets", event.uri %></td>
  </tr>
<% end %>
</table>
