<div class="wrapper">

  <h5><%= @artist.name %></h5>
    <% if signed_in? %>
      <div id="follow_artist_button_<%= @artist.id %>">
        <%= render "follow_artist_button", artist: @artist %>
      </div>
    <% end %>

  <section class="left-large">
    <h5>Upcoming <%= @artist.name %> Shows! </h5>
    <% if @artist.shows.present? %>
      <div id="box-small3">
        <table>
          <tr>
            <th>Venue</th>
            <th>City</th>
            <th>Date</th>
            <th></th>
          </tr>
          <%= render @artist.shows.by_date %>
        </table>
      </div>
    <% else %>
      Sorry!  No upcoming tour dates found.
    <% end %>
  </section><br>

  <section class="center-large">
    <br><h5>Recent <%= @artist.name %> live show recordings! </h5>
    <% if @artist.recordings.present? %>
      <div id="box-small2">
        <table>
          <tr>
            <th>Show Date</th>
            <th>Title</th>
          </tr>
          <% @recordings.each do |recording| %>
            <tr>
              <td><%= recording.date.to_date.strftime('%B %e, %Y') %></td>
              <td><%= link_to recording.title, "http://archive.org/details/#{recording.identifier}" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      Sorry! There are no recordings found
    <% end %>
  </section>
<div class="wrapper">
