<section class="left-large">
  <h3>Upcoming <%= @artist.name %> Shows! </h3>
    <div id="box-small">
      <table>
        <tr>
          <th>Venue</th>
          <th>City</th>
          <th>Date</th>
          <th></th>
        </tr>
        <% @events.results.each do |event| %>
          <tr>
            <td><%= event.venue.display_name %></td>
            <td><%= event.location.city %></td>
            <td><%= event.start.strftime("%B %d %l:%M %p") %></td>
            <td><%= link_to "Get Tickets", event.uri %></td>
          </tr>
        <% end %>
      </table>
    </div>
</section><br>

<section class="left-large">
  <br><h3>Recent <%= @artist.name %> live show recordings! </h3>
    <div id="box-small2">
      <table>
        <tr>
          <th>Date</th>
          <th>Title</th>
        </tr>
      <% @recordings.each do |recording| %>
        <% if recording["collection"] == @artist.name.gsub(" ", "") %>
          <tr>
            <td><%= recording["date"] %></td>
            <td><%= link_to recording["title"], "http://archive.org/details/#{recording["identifier"]}" %></td>
          </tr>
        <% end %>
      <% end %>
    </div>
</section>
