<div class="wrapper">

  <h2>Welcome to reLIVEit</h2>

  <p>reLIVEit is dedicated to supporting live music and the artists that who provide it.  reLIVEit members will be able to follow great musical artists from around the country, keep informed of their tour dates as well as their latest live performance recordings.  Members will also be able to receive a weekly email letting them know the recordings that have been uploaded during the prior week.  Membership is free and fun.</p>

  <h4><b>Get out and support live music whenever you can.</b></h4>

  <section class="left-large">
    <h5>Upcoming Shows In Your Area! </h5>
      <div id="box-small3">
        <table>
          <tr>
            <th>Artist</th>
            <th>Venue</th>
            <th>City</th>
            <th>Date</th>
            <th></th>
          </tr>
          <% @user_location_shows.each do |show| %>
            <tr>
              <td>
                <% show.performances.each do |performer| %>
                  <div>
                    <%= performer.display_name %>
                  </div>
                <% end %>
              </td>
              <td><%= show.venue.display_name %></td>
              <td><%= show.location.city %></td>
              <td><%= show.start.to_time.strftime('%B %e, %Y') %></td>
              <td><%= link_to "Get Tickets", show.uri %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </section><br>
</div>
