<!DOCTYPE html>
<html>
<head>
  <title>reLIVEit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

  <header class="navigation">
    <div class="menu-wrapper">
      <a class="logo">
        <%= image_tag "Guitar.png" %>
      </a>

      <div class="nav">

        <% if signed_in? %>
          <ul id="navigation-menu">
            <li><a><%= link_to "Home", current_user %></a></li>
            <li><a><%= link_to "Artists", artists_path %></a></li>
            <li><a><%= link_to 'Sign out', sign_out_path, :method => :delete %></a></li>
          </ul>
        <% else %>
          <ul id="navigation-menu">
            <li><a><%= link_to 'Sign In', sign_in_path %></a></li>
            <li><a><%= link_to 'Sign Up', sign_up_path %></a></li>
          </ul>
        <% end %>
      </div>
    </div>
  </header>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag "Guitar.png" %></a>
    <div class="hero-copy">
      <h1>reLIVEit Logo</h1>
      <p>Music is life</p>
    </div>
  </div>
</div>

<body>
  <h3><%= link_to "reLiveit", current_user %></h3><br>

  <div class="right-corner">
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
    <% end %>
    <%= yield :right_corner %>
  </div>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div class="body-wrapper">
    <%= yield %>
  </div>
</body>

<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "Guitar.png" %>
    <%= link_to image_tag("post-logo-hi.png"), "mailto:BostonREB99@gmail.com?Subject=reLIVEit" %>
    <%= link_to image_tag("twitter-l.png"), "https://twitter.com/BostonREB99" %>
    <%= link_to image_tag("linkedin_logo.png"), "https://www.linkedin.com/in/bostonreb" %>
  </div>

  <div class="footer-secondary-links">
    <div class="footer-logo2">
      <%= link_to image_tag("songkick_logo.png"), "http://www.songkick.com/" %>
    </div>
  </div>
</footer>


</html>
